<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="URL"  value="amazon.in"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="tng.Testing_Check"/>
      
        <class name="tngSecond.SecondClass"/>
         <class name="tng.parameterXML"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
